:root {
    
--body: hsl(0, 100%, 74%); 
--green: hsl(154, 59%, 51%); /* para claim yout free trial */

--blue: hsl(248, 32%, 49%); /* para try it free 7 days */

/* textos y algunas lineas de cuadro*/
--dark-blue: hsl(249, 10%, 26%); 
--grayish-blue: hsl(246, 25%, 77%);

}

body {
    background-color: var(--red);
}